@import url('https://fonts.googleapis.com/css?family=Tenali+Ramakrishna&display=swap');

/*Configure the tab buttons*/
.buttons-1,
.buttons-2{
    display: none;
}
.attribute-values,
.attribute-settings,
.bonds,
.gifts{
    display: none;
}

.tabstoggle[value="gifts"] ~ .buttons{
    display: none;
}

/* show the selected tab */
.tabstoggle[value="character"] ~ div.buttons-1,
.tabstoggle[value="configuration"] ~ div.buttons-2{
    display: block;
}
.tabstoggle[value="character"] ~ div.attribute-values,
.tabstoggle[value="bonds"] ~ div.bonds,
.tabstoggle[value="configuration"] ~ div.attribute-settings,
.tabstoggle[value="gifts"] ~ div.gifts{
    display: grid;
}
/* --------- Text ------------- */

span.bold{
  font-weight: 800;
  font-size: medium;
}

label {
  margin: 5px 0px 5px 0px;
  font-size: 1.1em;
}

/* --------- Inputs ------------- */

input[type="text"] {
  background-color: transparent;
  border-style: none none solid none;
  border-color: black;
  text-align: center;
}

input[type="number"] {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  text-align: center;
}

textarea {
  background-color: transparent;
  width: 89%;
  height: 70%;
  margin-right: 15px;
}

input[type="checkbox"].checkbox {
  border-style: solid black;
  border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus{
  background-color: #F6CED8;
}

/* -----Hides up/down buttons on numberfields that don't need them ---*/

input[type=number].ref::-webkit-inner-spin-button,
input[type=number].ref::-webkit-outer-spin-button,
input[type=number].txtfield::-webkit-inner-spin-button,
input[type=number].txtfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number].ref,
input[type=number].txtfield {
  -moz-appearance: textfield;
}

/* ------- Buttons ---------- */

.tab button{
    height: 20%;
    width: 15%;
    border-radius: 0px;
    -moz-appearance: none;
    background-color: rgba(255,255,255, 0.099) !important;
    border-color: transparent;
    box-shadow: 0px 7px 5px #5b3a21;
    background-image: none;
    color: inherit;
    text-shadow: none;
}
.tab button:hover{
    color:inherit;
    background-color: rgba(255,255,255, 0.2) !important;
}


.inset {
    box-shadow: 0px 10px 20px #5b3a21 inset, 0px -7px 7px #bfa187 inset;
    background-color: rgba(153,114,76, 0.2);
    border-radius:20px;
}

.doubleinset {
    box-shadow: 0px 7px 4px #5b3a21 inset, 0px -3px 3px #bfa187 inset;
    background-color: rgba(112,81,51, 0.2);
    border-radius:20px;
}

.red {
    background-color: #F67381;
}
.blue {
    background-color: #72A7D3;
}
.yellow {
    background-color: #FECC51;
}
.green {
    background-color: #96D685;
}
.orange {
    background-color: #FEB072;
}
.purple {
    background-color: #D1B8ED;
}
.black {
    background-color: black;
}
.grey {
    background-color: grey;
}
.white {
    background-color: white;
}


.attr-icon {
    background-image: url('https://raw.githubusercontent.com/missing-q/charsheets/master/Windrose%20Everlasting/assets/Get!%20Icons/windrose_flower_pattern-dark.png');
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: center;
    border-radius:20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.attr-icon-black {
    background-image: url('https://raw.githubusercontent.com/missing-q/charsheets/master/Windrose%20Everlasting/assets/Get!%20Icons/windrose_flower_pattern.png');
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: center;
    border-radius:20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.big {
    font-size: 65px;
    text-align:center;
    vertical-align: middle;
    border: 0px !important;
    background-color: transparent !important;
    border-radius: 0px;
    padding: 0px;  
}
.normal {
    font-size: 20px;
    text-align:center;
    vertical-align: middle;
    border: 0px !important;
    background-color: transparent !important;
    border-radius: 0px;
    padding: 0px;
    color: black;    
}
.small {
    font-size: 15px;
    text-align:center;
    vertical-align: middle;
    border: 0px !important;
    background-color: transparent !important;
    border-radius: 0px;
    padding: 0px;
    color: black;    
}

.big-black {
    font-size: 65px;
    text-align:center;
    vertical-align: middle;
    border: 0px !important;
    background-color: transparent !important;
    border-radius: 0px;
    padding: 0px;
    color: black;
}

.big-white {
    font-size: 65px;
    text-align:center;
    vertical-align: middle;
    border: 0px !important;
    background-color: transparent !important;
    border-radius: 0px;
    padding: 0px;
    color: white;    
}

.color-swing[value=''] ~ .color-swing-receiver{
    background-color:transparent;
}
.color-swing[value=red] ~ .color-swing-receiver{
    background-color:#F67381;
    color:black;
}
.color-swing[value=blue] ~ .color-swing-receiver{
    background-color:#72A7D3;
    color:black;
}
.color-swing[value=yellow] ~ .color-swing-receiver{
    background-color:#FECC51;
    color:black;
}
.color-swing[value=green] ~ .color-swing-receiver{
    background-color:#96D685;
    color:black;
}
.color-swing[value=orange] ~ .color-swing-receiver{
    background-color:#FEB072;
    color:black;
}
.color-swing[value=purple] ~ .color-swing-receiver{
    background-color:#D1B8ED;
    color:black;
}
.color-swing[value=black] ~ .color-swing-receiver{
    background-color:black;
    color:white;
    background-image: url('https://raw.githubusercontent.com/missing-q/charsheets/master/Windrose%20Everlasting/assets/Get!%20Icons/windrose_flower_pattern.png');
}
.color-swing[value=grey] ~ .color-swing-receiver{
    background-color:grey;
    color:black;
}
.color-swing[value=white] ~ .color-swing-receiver{
    background-color:white;
    color:black;
}
.color-enabled[value='true'] ~ .color-enabled-receiver{
    display:flex;
}
.color-enabled[value='false'] ~ .color-enabled-receiver{
    display:none;
}

/*-----------------------------------------------------------------*\
  #SECTIONS
\*-----------------------------------------------------------------*/


/* --------- General Section Styling ------------- */
.flex-center {
  display: flex;
  align-items: center;
}

.flex-middle {
  display: flex;
  justify-content: center;
}

.flex-down {
  flex-flow: column nowrap;
}

.grid-column {
    display:grid;
    grid-template-columns: auto auto auto auto auto;
}

.left{
  display: inline-flex;
  text-align: left;  
  vertical-align:middle;
  justify-content:flex-start;
  align-items: center;
}

.section {
    padding: 5px;
    min-height: 90%;
}


div.sheet-main {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #efdabf;    

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    width: 778px;
    height: auto;
    outline: #ffffff solid 5px;
    padding: 30px;
    background: #f7f7f7;
    background-image: url(https://github.com/missing-q/charsheets/blob/master/Windrose%20Everlasting/assets/bg.jpg?raw=true);
    background-size: contain;
}

div.sheet-header{ 
    grid-area: 1 / 1 / 2 / 4;;
    display: inline-block;
    margin-top: 15px;  
    color: #efdabf;
    text-align: center;
}
div.buttons-1 { 
    grid-area: 2 / 1 / 3 / 2;
}
div.buttons-2 { 
    grid-area: 2 / 1 / 3 / 2;
}
div.attribute-values { 
    grid-area: 2 / 2 / 3 / 4;
    height: 325px;
    width: 325px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 10px 10px 10px 10px;    
    margin-left: auto;
    margin-right: auto;    
}

div.gifts { 
    grid-area: 2 / 1 / 3 / 4;
    height: auto;
    min-height: 325px;
    width: auto;
    padding: 10px 10px 10px 10px;    
}

div.bonds { 
    grid-area: 2 / 1 / 3 / 4;
    height: auto;
    min-height: 325px;
    width: auto;
    padding: 10px 10px 10px 10px;   
}

button[type="roll"].attribute-button {
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:90px;
    width:90px;
    font-size: 0 !important;
    border-radius: 0px;
    -moz-appearance: none;
    background-color: transparent !important;
    border-color: transparent;
    box-shadow: 0px 0px 0px #5b3a21;
    background-image: none;
    color: transparent;
    text-shadow: none;
}

div.repcontrol_edit button{
    background-color: rgba(255,255,255, 0.099) !important;
    border-color: transparent;
    font-size: 1.3em;
    text-shadow: none;
}

div.buttons-1 button{
    height: 35px;
    width: 255px;
    border-radius: 0px;
    -moz-appearance: none;
    background-color: rgba(255,255,255, 0.099) !important;
    border-color: transparent;
    margin: 1vh;
    box-shadow: 0px 7px 5px #5b3a21;
    background-image: none;
    color: inherit;
    margin: 7px !important;
    padding: 0px !important;
    font-size: 1.3em;
    text-shadow: none;
}
div.buttons-2 button{
    height: 50px;
    width: 255px;
    border-radius: 0px;
    -moz-appearance: none;
    background-color: rgba(255,255,255, 0.099) !important;
    border-color: transparent;
    margin: 1vh;
    box-shadow: 0px 7px 5px #5b3a21;
    background-image: none;
    color: inherit;
    margin: 7px !important;
    padding: 0px !important;
    font-size: 1.3em;
    text-shadow: none;
}


div.small-button {
  display: grid;
  text-align:center;
  font-size: 1.3em;
  color: #333;
}
div.small-button button{
    height: 30px;
    width: 119px;
    text-transform: center;
    justify-content: center;
    font-size: 0.8em !important;
    margin-top: 0px !important;
    margin-bottom: 4px !important;
    padding: 0px !important;
    color: #efdabf;
}
div.attribute-settings { 
    grid-area: 2 / 2 / 3 / 4; 
    height: auto;
    width: auto;
    grid-template-columns: 20% 15% auto;    
    padding: 10px 10px 10px 10px;    
}

div.attribute-settings > div {
  padding: 3px;
}

div.attribute-settings input[type="text"] {
  background-color: transparent;
  border-style: none none none none;
  border-color: transparent;
  box-shadow: 0px 3px 3px #5b3a21 inset, 0px -3px 3px #bfa187 inset;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;  
  color: #333;
}

div.footer { 
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 400px;
    margin: auto;
    padding: 10px 10px 10px 10px; 
}
div.swing{
    grid-area: 3 / 3 / 4 / 4;
    display: grid;  
    font-size: 30px;
    text-align:center;
    vertical-align: middle;
    border: 0px;
    background-color: transparent !important;
    border-radius: 0px;
    padding: 0px;
    color: black;  
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right:  0px;
    width: 200px;
}

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-custom {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-custom {
  margin-left: -7px;
}

.sheet-rolltemplate-custom .sheet-container {
  border: 1px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-header {
  background-color: var(--header-bg-color);
  /* change text-align to center to center the header text */
  text-align: left;
  color: var(--header-text-color);
  padding: 0px;
}
.sheet-rolltemplate-custom .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-custom .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-container {
  /* this is the default color */
  --header-bg-color: gray;
  --header-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-red{
    --header-bg-color:#F67381;
    --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-blue{
    --header-bg-color:#72A7D3;
    --header-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-yellow{
    --header-bg-color:#FECC51;
    --header-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-green{
    --header-bg-color:#96D685;
    --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-orange{
    --header-bg-color:#FEB072;
    --header-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-purple{
    --header-bg-color:#D1B8ED;
    --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-black{
    --header-bg-color:black;
    --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-grey{
    --header-bg-color:grey;
    --header-text-color: black;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-white{
    --header-bg-color:white;
    --header-text-color: black;
}


.sheet-rolltemplate-custom .sheet-roll {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-custom .sheet-roll > div {
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-custom .sheet-roll .sheet-plus {
  display: flex;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

/* a tag*/
.sheet-rolltemplate-custom .sheet-red-roll a {
  color: black;
  font-weight: bold;
  background-color: #F67381;
}
.sheet-rolltemplate-custom .sheet-yellow-roll a {
  color: black;
  font-weight: bold;
  background-color: #FECC51;
}
.sheet-rolltemplate-custom .sheet-blue-roll a {
  color: white;
  font-weight: bold;
  background-color: #72A7D3;
}

/* Allprops part */
.sheet-rolltemplate-custom .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-custom .sheet-content > div {
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-custom .sheet-content .sheet-key {
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
}

/* Empty rule, use this if you want to change the right column */
.sheet-rolltemplate-custom .sheet-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* a tag*/
.sheet-rolltemplate-custom .sheet-value a {
  color: graytext;
  font-weight: bold;
  background-color: lightgray;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-custom .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-custom .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-roll {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-roll {
  margin-left: -7px;
}

.sheet-rolltemplate-roll .sheet-container {
  border: 1px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-roll .sheet-header {
  background-color: var(--header-bg-color);
  /* change text-align to center to center the header text */
  text-align: left;
  color: var(--header-text-color);
  padding: 0px;
}
.sheet-rolltemplate-roll .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-roll .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-roll .sheet-container {
  /* this is the default color */
  --header-bg-color: gray;
  --header-text-color: #000;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-red{
    --header-bg-color:#F67381;
    --header-text-color: #FFF;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-blue{
    --header-bg-color:#72A7D3;
    --header-text-color: #000;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-yellow{
    --header-bg-color:#FECC51;
    --header-text-color: #000;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-green{
    --header-bg-color:#96D685;
    --header-text-color: #FFF;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-orange{
    --header-bg-color:#FEB072;
    --header-text-color: #000;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-purple{
    --header-bg-color:#D1B8ED;
    --header-text-color: #FFF;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-black{
    --header-bg-color:black;
    --header-text-color: #FFF;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-grey{
    --header-bg-color:grey;
    --header-text-color:black;
}
.sheet-rolltemplate-roll .sheet-container.sheet-color-white{
    --header-bg-color:white;
    --header-text-color:black;
    border-color:black;
}

.sheet-rolltemplate-roll .sheet-roll {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: 40% auto;
  /* Line height to match default roll template */
  padding: 10px;
}


.sheet-rolltemplate-roll .sheet-roll .sheet-total {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
.sheet-rolltemplate-roll .sheet-roll .sheet-total > div{
  display: flex;  
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: bold;
}

.sheet-rolltemplate-roll .sheet-roll .sheet-sum {
  display: inline-grid;
  grid-template-rows: auto auto auto auto;
}

.sheet-rolltemplate-roll .sheet-roll .sheet-sum > div{
  display: flex;  
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: bold;
}

.sheet-rolltemplate-roll .sheet-roll .sheet-sum .sheet-sum-color {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap:5px;
}

.sheet-rolltemplate-roll .sheet-roll .sheet-sum .sheet-sum-color > div{
  display: flex;  
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* a tag*/
.sheet-rolltemplate-roll .sheet-red-roll a {
  color: black;
  background-color: #F67381;
}
.sheet-rolltemplate-roll .sheet-yellow-roll a {
  color: black;
  background-color: #FECC51;
}
.sheet-rolltemplate-roll .sheet-blue-roll a {
  color: black;
  background-color: #72A7D3;
}
.sheet-rolltemplate-roll .sheet-green-roll a {
  color: black;
  background-color: #96D685;
}
.sheet-rolltemplate-roll .sheet-orange-roll a {
  color: black;
  background-color: #FEB072;
}
.sheet-rolltemplate-roll .sheet-purple-roll a {
  color: black;
  background-color: #D1B8ED;
  background-image: url(https://raw.githubusercontent.com/missing-q/charsheets/master/Windrose%20Everlasting/assets/Get!%20Icons/windrose_flower_pattern.png) !important;
}
.sheet-rolltemplate-roll .sheet-black-roll a {
  color: white;
  background-color: black;
  background-image: url(https://raw.githubusercontent.com/missing-q/charsheets/master/Windrose%20Everlasting/assets/Get!%20Icons/windrose_flower_pattern.png) !important;
}
.sheet-rolltemplate-roll .sheet-grey-roll a {
  color: black;
  background-color: grey;
  background-image: url(https://raw.githubusercontent.com/missing-q/charsheets/master/Windrose%20Everlasting/assets/Get!%20Icons/windrose_flower_pattern.png) !important;
}
.sheet-rolltemplate-roll .sheet-white-roll a {
  color: black;
  background-color: white;  
  border-color: black;
}

.sheet-rolltemplate-roll .sheet-color-roll a {
    font-weight: bold;
    width: 15px;   
    background-image: url(https://raw.githubusercontent.com/missing-q/charsheets/master/Windrose%20Everlasting/assets/Get!%20Icons/windrose_flower_pattern-dark.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.sheet-rolltemplate-roll .sheet-color-roll .sheet-tooltip{
  visibility: hidden;
  width: auto;
  min-width: 65px;
  max-width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -54px;
  margin-bottom: 5px;
  margin-left: 0;
  white-space: nowrap;
}

.sheet-rolltemplate-roll .sheet-color-roll .sheet-tooltip::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 65px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.sheet-rolltemplate-roll .sheet-color-roll:hover .sheet-tooltip{
 visibility: visible;   
}

.sheet-rolltemplate-roll .sheet-color-roll {
  width: 100%;
  text-align: center;
  position: relative;
}

/* Allprops part */
.sheet-rolltemplate-roll .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-roll .sheet-content > div {
  padding: 5px;
}

/* Left column */
.sheet-rolltemplate-roll .sheet-content .sheet-key {
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
}
.sheet-rolltemplate-roll .sheet-d6 {
    display: grid !important;
    min-width: 30px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap:5px;
}

.sheet-rolltemplate-roll .sheet-d20 {
display: inline-block;
min-width: 30px;
text-align: center;
align-items: center;
position: relative;
}

.sheet-rolltemplate-roll .sheet-d20-first {
  display: flex;
  justify-content: space-between;
  text-shadow: -1px -1px 1px #FFF, 1px -1px 1px #FFF, -1px 1px 1px #FFF, 1px 1px 1px #FFF;
  z-index:2;
  height: auto;
  align-items: center;
  text-align: center; 
  vertical-align: middle;
  color: black;
  position:relative;
  min-height: 30px;
  margin-top: 0px;  
  top: 0px;
  left: 0px;
  box-sizing: content-box;
}
.sheet-rolltemplate-roll .sheet-d20-second {
  font-family: 'dicefontd20';
  font-weight: normal;
  width: 100%;
  color: black;
  opacity: .75;
  text-align: center;
  font-size: 30px;
  position:absolute;
  top: 7px;
  left: 0px;
  box-sizing: content-box;
  z-index:1;
}


/* Empty rule, use this if you want to change the right column */
.sheet-rolltemplate-roll .sheet-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* a tag*/
.sheet-rolltemplate-roll .sheet-value a {
  color: graytext;
  font-weight: bold;
  background-color: lightgray;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-roll .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-roll .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-roll .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

.sheet-rolltemplate-roll .inlinerollresult  {
    background-color: transparent;
    border: none;
}

.sheet-rolltemplate-roll .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-roll .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-roll .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}


/* Configure a container for the toggle */
.radios {
  display:flex;
  align-items: center;
}

/* Configure the button styling. This example makes it look like a checkbox. */
button.toggle {
  padding: 0;
  border: solid 1px #a8a8a8;
  cursor: pointer;

  width: 18px;
  height: 18px;
  border-radius: 3px;
  display:inline-block;
  font-size: 12px;
  margin: 0px;
  padding: 0px !important;
  color: black;
}

div.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Hide the "checked" section of the toggle if the attribute value is not "1". */
input.toggle:not([value="true"]) ~ button.toggle > span.checked {
  opacity:0;
}

.charsheet .wrapper {
    padding: 2vh;
    padding-right: 3vh;
    margin-left: 50px;
}
.charsheet .giftname {
    border: none;
    color: #efdabf; 
    text-align: center;
    width: 400px;    
    border-radius:7px;
}
.charsheet .bondname {
    border: none;
    color: #efdabf; 
    text-align: center;
    width: 400px;    
    border-radius:7px;
}

.charsheet .wrapper button {
    background-color: rgba(255,255,255, 0.099) !important;
    background-image: none;
    border-color: transparent;
    color: black;
    height: 30px;
    width: 70px;
    padding: 4px !important;
    box-shadow: 0px 7px 5px #5b3a21;
    text-shadow: none;
    margin: 0;
}
.charsheet .wrapper textarea {
    margin-top: 0.5vw;
    height: 300px;
    display: none;
}

.wrapper-gifts{
    padding: 2vh;
    padding-right: 3vh;
    margin-left: 100px;
}

.wrapper-gifts button {
    background-color: rgba(255,255,255, 0.099) !important;
    background-image: none;
    border-color: transparent;
    color: black;
    height: 30px;
    width: 70px;
    padding: 4px !important;
    box-shadow: 0px 7px 5px #5b3a21;
    text-shadow: none;
    margin: 0;
}
.wrapper-gifts textarea {
    margin-top: 0.5vw;
    height: 300px;
    display: none;
}

.charsheet input.toggle {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
}
.charsheet input.toggle::after{
    content: "⏷";
}
.charsheet input.toggle:checked::after{
    content: "⏶";
}
.charsheet input.toggle:checked ~ textarea {
    display:block;
}
.wrapper .repitem{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.wrapper .repitem input{
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper-gifts .repitem{
    margin-top: 11px;
    margin-bottom: 10px;
}

.wrapper-gifts .repitem:nth-child(1):before {
    content: "Primary";
    font-size: 1.2em;
    text-decoration: underline solid;
    position: absolute;
    top: 11px;
    left: -125px;
    padding-left:3vh;
    color: #efdabf;  
}

.wrapper-gifts .repitem:nth-child(2):before {
    content: "Equipped";
    font-size: 1.2em;
    text-decoration: underline solid;
    position: absolute;
    top: 11px;
    left: -130px;
    padding-left:3vh;
    color: #efdabf;  
}

.wrapper-gifts .repitem:nth-child(7):before {
    content: "Unequipped";
    font-size: 1.2em;
    text-decoration: underline solid;
    position: absolute;
    top: 11px;
    left: -140px;
    padding-left:3vh;
}